$navbar-toggler-size: 30px;
$navbar-togggler-unit: 5px;

.navbar-toggler {
  border: none !important;
  background-color: transparent !important;

  .navbar-toggler-icon {
    position: relative;
    width: $navbar-toggler-size - 4;
    height: $navbar-toggler-size;
    background: none !important;

    span {
      background: #fff;
      position: absolute;
      width: 100%;
      height: $navbar-togggler-unit - 3;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: $navbar-togggler-unit * 2 + 4;
      }
      &:nth-child(3) {
        top: $navbar-togggler-unit * 2 + 4;
      }
      &:nth-child(4) {
        top: $navbar-togggler-unit * 4 + 4;
      }
    }
  }

  &:not(.collapsed) {
    .navbar-toggler-icon {
      span {
        &:nth-child(1) {
          top: $navbar-togggler-unit * 2;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: $navbar-togggler-unit * 2;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}
