@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProUltraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProSemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProUltraLightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProSemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia-pro/SofiaProBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

// here you can customize bootstrap
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$alien: #0b2b40;
$primary: #30b0a4;
$secondary: #ce8600;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: #333333;

$body-bg: $dark !default;
$body-color: $light !default;

$theme-colors: (
  "alien": $alien,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: "Sofia Pro", sans-serif;
$headings-font-family: "Sofia Pro", sans-serif;
$input-btn-font-family: "Sofia Pro", sans-serif;
$btn-font-family: "Sofia Pro", sans-serif;
$input-font-family: "Sofia Pro", sans-serif;

@import "~bootstrap/scss/bootstrap";
