$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$primary: #00b7b1;
$secondary: #ce8600;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: #333333;
$alien: #0b2b40;

$body-bg: $dark !default;
$body-color: $light !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "alien": $alien,
  "black": $black,
);

$border-radius: 0 !default;
$border-radius-sm: 0 !default;
$border-radius-lg: 0 !default;

@import "~bootstrap/scss/bootstrap";

.masonry {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-left: -0.75rem;
}
.masonry-column {
  padding-left: 0.75rem;
  background-clip: padding-box;

  > div {
    margin-bottom: 0.75rem;
  }
}

@include media-breakpoint-down(md) {
  .masonry-column {
    width: 50% !important;
  }
}

@include media-breakpoint-down(sm) {
  .masonry-column {
    width: 100% !important;
  }
}

.nav-link {
  color: rgba(255,255,255,0.8);
  &:hover {
    color: rgba(255,255,255,1);
  }
}

.dropdown-item {
  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}


/***********/

.prose {
  // color: #374151; /* text-gray-700 */
  line-height: 1.75;
  font-size: 1rem;
  // max-width: 65ch;
}

.prose h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 1rem;
  // color: #111827; /* text-gray-900 */
}

.prose h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  // color: #1f2937;
}

.prose h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  // color: #374151; /* text-gray-700 */
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose a {
  // color: #2563eb; /* text-blue-600 */
  text-decoration: underline;
}

.prose ul,
.prose ol {
  padding-left: 1.5rem;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose blockquote {
  font-style: italic;
  border-left: 4px solid #d1d5db;
  padding-left: 1rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #6b7280;
}

.prose img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose code {
  // background-color: #f3f4f6;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-family: monospace;
  font-size: 0.875em;
}

.prose pre {
  // background-color: #1f2937;
  color: #f9fafb;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
